/* general styles */
p {
	font-size: 14px;
}


/* header */
header {
  font-family: 'Pokemon';
  font-size: 2rem;
  text-shadow:
		-1.5px -1.5px 0 #000,
		1.5px -1.5px 0 #000,
		-1.5px 1.5px 0 #000,
		1.5px 1.5px 0 #000;
}

/* main */
.main {
	width: 80%;
	margin: 0 auto;
}

/* pokemon cards */
.card {
	width: 18%;
}

.cursor-pointer {
	cursor: pointer;
}